{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{% static 'style/form.css' %}">
</head>
<body>

    {% for msg in messages %}
        <script>alert("{{msg}}")</script>
    {% endfor %}
    
    <form class="container" method="POST">
        <h3>تسجيل الدخول</h3>
        {% csrf_token %}
        <input type="email" name="email" placeholder="البريد الالكتروني">
        <input type="password" name="password" placeholder="كلمة المرور">

        <div class="btns">
            <a href="{% url 'register' %}"> انشاء حساب ؟</a>
            <button type="submit">تسجيل الدخول</button>
        </div>
    </form>

</body>
</html>